@mixin reg {
  font-family:
    'HelveticaNeueCyr',
    'HelveticaNeue',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  font-weight: 400;
}

@mixin med {
  font-family:
    'HelveticaNeueCyr',
    'HelveticaNeue',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  font-weight: 500;
}

// HEADINGS

@mixin heading-h1 {
  @include med;
  font-size: vw(88);
  line-height: 1em;

  @media (max-width: $br1) {
    font-size: size(88, 44);
  }

  @media (max-width: $br4) {
    font-size: 44px;
  }
}

@mixin heading-h2 {
  @include med;
  font-size: vw(80);
  line-height: 1em;

  @media (max-width: $br1) {
    font-size: size(80, 64);
  }

  @media (max-width: $br4) {
    font-size: 64px;
  }
}

@mixin heading-h3 {
  @include med;
  font-size: vw(68);
  line-height: 1em;

  @media (max-width: $br1) {
    font-size: size(68, 36);
  }

  @media (max-width: $br4) {
    font-size: 36px;
  }
}

@mixin heading-h4 {
  @include med;
  font-size: vw(60);
  line-height: 1em;

  @media (max-width: $br1) {
    font-size: size(60, 32);
  }

  @media (max-width: $br4) {
    font-size: 32px;
  }
}

@mixin heading-h5 {
  @include med;
  font-size: vw(50);
  line-height: 1em;
}

@mixin heading-h6 {
  @include med;
  font-size: vw(40);
  line-height: 1em;
}

// SUBHEADINGS

@mixin subheading-h1 {
  @include med;
  font-size: vw(32);
  line-height: 1em;

  @media (max-width: $br1) {
    font-size: size(32, 24);
  }

  @media (max-width: $br4) {
    font-size: 24px;
  }
}

@mixin subheading-h2 {
  @include med;
  font-size: vw(24);
  line-height: 1em;

  @media (max-width: $br1) {
    font-size: size(24, 20);
  }

  @media (max-width: $br4) {
    font-size: 20px;
  }
}

@mixin subheading-h3 {
  @include med;
  font-size: vw(20);
  line-height: 1em;

  @media (max-width: $br1) {
    font-size: size(20, 18);
  }

  @media (max-width: $br4) {
    font-size: 18px;
  }
}

@mixin subheading-h4 {
  @include med;
  font-size: vw(18);
  line-height: 1em;

  @media (max-width: $br1) {
    font-size: size(18, 16);
  }

  @media (max-width: $br4) {
    font-size: 16px;
  }
}

@mixin subheading-h5 {
  @include med;
  font-size: vw(16);
  line-height: 1em;

  @media (max-width: $br1) {
    font-size: size(16, 14);
  }

  @media (max-width: $br4) {
    font-size: 14px;
  }
}

@mixin subheading-h6 {
  @include med;
  font-size: vw(16);
  line-height: 1em;

  @media (max-width: $br1) {
    font-size: size(16, 14);
  }

  @media (max-width: $br4) {
    font-size: 14px;
  }
}

// TEXT

@mixin text-t1 {
  @include med;
  font-size: vw(24);
  line-height: 1em;

  @media (max-width: $br1) {
    font-size: size(24, 24);
  }

  @media (max-width: $br4) {
    font-size: 24px;
  }
}

@mixin text-t2 {
  @include med;
  font-size: vw(20);
  line-height: 1em;

  @media (max-width: $br1) {
    font-size: size(20, 20);
  }

  @media (max-width: $br4) {
    font-size: 20px;
  }
}

@mixin text-t3 {
  @include med;
  font-size: vw(18);
  line-height: 1.22em;

  @media (max-width: $br1) {
    font-size: size(18, 16);
  }

  @media (max-width: $br4) {
    font-size: 16px;
  }
}

@mixin text-t4 {
  @include med;
  font-size: vw(16);
  line-height: 1.25em;

  @media (max-width: $br1) {
    font-size: size(16, 14);
  }

  @media (max-width: $br4) {
    font-size: 14px;
  }
}

// CAPTIONS

@mixin caption-c1 {
  @include med;
  font-size: vw(20);
  line-height: 1em;

  @media (max-width: $br1) {
    font-size: size(20, 16);
  }

  @media (max-width: $br4) {
    font-size: 16px;
  }
}

@mixin caption-c2 {
  @include med;
  font-size: vw(16);
  line-height: 1em;

  @media (max-width: $br1) {
    font-size: size(16, 14);
  }

  @media (max-width: $br4) {
    font-size: 14px;
  }
}

@mixin caption-c3 {
  @include reg;
  font-size: vw(16);
  line-height: 1em;

  @media (max-width: $br1) {
    font-size: size(16, 14);
  }

  @media (max-width: $br4) {
    font-size: 14px;
  }
}

@mixin caption-c4 {
  @include med;
  font-size: vw(14);
  line-height: 1em;

  @media (max-width: $br1) {
    font-size: size(14, 10);
  }

  @media (max-width: $br4) {
    font-size: 10px;
  }
}
