:root {
  --basic-black: #202020;
  --basic-white: #ffffff;
  --neutral-100: #eaeaea;
  --neutral-200: #d0d0d0;
  --neutral-300: #818080;
  --neutral-400: #4c4949;
  --neutral-500: #343434;
  --neutral-600: #2e2e2e;
  --accent-primary: linear-gradient(180deg, #ffce7e 0%, #997c4b 100%);
  --accent-secondary: #46361c;
  --accent-tertiary: #635e50;
  --accent-quaternary: #786f61;
  --gradient-primary: linear-gradient(180deg, #202020 0%, #343434 80%);
  --gradient-secondary: linear-gradient(180deg, #3a3838 0%, #202020 100%);
  --white: #ffffff;
  --red: #e73737;
  --accent: #9047ff;
  --vh: 100vh;
  --gray-100: #f8f9fa;
  --gray-200: #e9ecef;
  --gray-300: #dee2e6;
  --gray-400: #ced4da;
  --gray-500: #ced4da;
  --gray-600: #6c757d;
  --gray-700: #495057;
  --gray-800: #343a40;
  --gray-900: #212529;
  --status-success: #28a745;
  --status-danger: #dc3545;
  --status-warning: #ffc107;
  --status-info: #3e3e3e;
}

//screen config
$maxWidth: 1440;
$minWidth: 375;

//breakpoints
$uls: 2100px;
$ls: 1366px;
$br1: 1060px;
$br2: 960px;
$br3: 768px;
$br4: 460px;

//easings
$easing: cubic-bezier(0.16, 1, 0.3, 1);

// layouts
$g-offset: vw(40);
$g-sm: 32px;
$g-s: 16px;
